<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Classification Restaurants </title>
    <link rel="stylesheet" href="../static/css/all.min.css" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/mdb.min.css" th:href="@{/css/mdb.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="container pt-5">
        <div class="row flex-center">
            <div class="col-9 pb-2">
                <h1 class="h1-responsive text-capitalize black-text"> Classification Restaurants </h1>
                <hr>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="row flex-center">
            <div class="col-9">
                <div class="table-wrapper-scroll-y">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <td class="font-weight-bold text-capitalize blue-grey-text"> libellé</td>
                                <td class="font-weight-bold text-capitalize blue-grey-text"> rate</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="res : ${restaurants}">
                                <td th:text="${res.libelle}" class="font-weight-bold text-uppercase w-75"> </td>
                                <td class="w-25"> <span th:inline="text"> [[${#numbers.formatDecimal(res.rate, 1, 'COMMA', 2, 'POINT')}]] <i class="fas fa-star ml-2 yellow-ic"></i> </span> </td>
                                <td> <a th:onclick="|update('${res.libelle}')|"> <i class="fas fa-pen fa-sm"></i> </a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rate-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modifier Classement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="md-form form-sm container">
                        <div class="row flex">
                            <div class="col-12">
                                <span> Selectionner Classement : </span>
                                <select class="browser-default ml-2" id="rate" style="border: none;">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success btn-sm" id="btn-update">Valider</button>
                </div>
            </div>
        </div>
    </div>
</main>


<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/mdb.min.js" th:src="@{/js/mdb.min.js}"></script>
<script type="text/javascript" src="../static/js/style.js" th:src="@{/js/style.js}"></script>
</body>
</html>